body {
  background: #272727;
  margin: 0;
}

h1, p {
  color: white;
  font-size : large;
}

.navigator {
  position: absolute;
  height: 4rem;
  width: 100vw;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, black, rgba(0,0,0,0.5) 70%, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-ribbon {
  background: rgba(1, 153, 210, 0.7);
}

.text-ribbon h1 {
  margin-top: 0;
}

.text-ribbon p {
  margin-bottom: 0;
}

.text-ribbon > div {
  padding: 1rem;
}