body {
  background: #272727
}

h1, p {
  color: white;
}

.text-ribbon > * {
  position: absolute;
}

.ribbon-background {
  background: black;
  opacity: 0.8;
}

.ribbon-text-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ribbon-text-container > * {
  padding: 0 2rem;
}