header {
  overflow: hidden;
}

header > video {
  height: 27rem;
  transform: translateX(-20rem);
}

header > img {
  height: 27rem;
  transform: translateX(-9rem);
}

header > .text-ribbon {
  position: absolute;
  z-index: 1;
  top: 5.7rem;
  width: 75vw;
  display: flex;
  justify-content: flex-end;
}

header > .text-ribbon > div {

}

header > .text-ribbon p {
  width: 13em;
}