#banner {
  overflow: hidden;
  max-height: 80vh;
}

#banner video {
  width: 100vw;
}

#banner-ribbon-container {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#banner-ribbon {
  width: 75vw;
}

#banner-ribbon > .ribbon-text-container {
  align-items: flex-start;
}