#banner {
  overflow: hidden;
  max-height: 80vh;
}

#banner-text-container {
  z-index: 1;
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#banner-ribbon, #banner-ribbon > canvas, #banner-ribbon > div {
  width: 70vw;
  height: 40vh;
}

#banner-ribbon > canvas, #banner-ribbon > div {
  position: absolute;
}

#banner-ribbon > canvas {
  background: black;
  opacity: 0.8;
  z-index: -1;
}

#banner-ribbon > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#banner-ribbon h1, #banner-ribbon p {
  margin-left: 2rem;
  margin-right: 2rem;
}

#banner-ribbon h1 {
  font-size: 4.8vw;
}

#banner-ribbon p {
  font-size: 2vw;
}